{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section" style="width:1100px; margin:0 auto padding:3">

    <!-- Author information -->
    <div class="media">
        <img class="d-flex mr-3 rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <div class="media-body">
          <br>
            <h4 class="mt-0"><a href="{% url 'user_posts' object.author.username %}">{{ object.title }}</a></h4>
            <!-- <h6 class="mt-0">{{ object.author.email }}</h6> -->
        </div>
    </div>
    <hr>

    <!-- Post information -->
    <div>
        <p>
            <b>Edit Informations</b>
            {% if object.author == user %}
            <a class="btn btn-info btn-sm mt-1 mb-1 float-right" href="{% url 'post_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 float-right mr-2 "
                href="{% url 'post_delete' object.id %}">Delete</a>
            {% endif %}
        </p>
    </div>
    <hr>

    <!-- Preview Image -->
    <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->
    <img class="img-fluid rounded" src="{{ object.image.url }}">
    <hr>

    <!-- Post Content -->


    <body id="rail-body">


      <style>
        <!
      element.style {
       }
       .h5, h5 {
       font-size: 1.25rem;
       }

      .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
       margin-bottom: .5rem;
       font-family: inherit;
       font-weight: 500;
       line-height: 1.2;
       color: #606060;
       }
       h1, h2, h3, h4, h5, h6 {
       margin-top: 0;
       margin-bottom: .5rem;
       }
       *, ::after, ::before {
       box-sizing: border-box;
       }
       user agent stylesheet
       #h5 {
       display: block;
       font-size: 0.83em;
       margin-block-start: 1.67em;
       margin-block-end: 1.67em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       font-weight: bold;
       }
       body#rail-body {
       color: #606060;
       }
       body {
       margin: 0;
       font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
       font-size: 1rem;
       font-weight: 400;
       line-height: 1.5;
       color: #212529;
       text-align: left;
       background-color: #fff;
       }
                    </style>



      <div class="container" >
        <!-- navbar -->

          <div class="col-md-8" id='right' style="margin-left: auto; margin-right: 0;" >
            <br>
            <ul id="rail-menu" style="float: right;">
              <li><a href="{{object.github|safe}}" target="_blank">Github</a></li>
              <li><a href="{{object.linkedin|safe}}" target="_blank">LinkedIn</a></li>
              <li><a href="publications.html">publications</a></li>
              <li><a href="code.html">software</a></li>
              <li class="rail-menu-selected"><a href="contact.html">contact</a></li>
            </ul>
          </div>
         <!-- end -->
        <!--    <h5>Research Engineers and Research Associates</h5>
        <p>
        We are hiring a research engineer. To apply, please go through the official <a href="https://aprecruit.berkeley.edu/JPF02481">UC Berkeley application form</a>. We look forward to hearing from you!
        </p>

        <br>-->
        <h5>Email</h5>
        <p>
          {{object.email | safe}}
        </p>

        <br>

        {% if object.personal_website != '' %}
        <h5>Personal Website</h5>
        <p>
        <a href="{{object.personal_website}}">{{object.personal_website|safe}}</a>
        </p>

        <br>
        {% endif %}


        {% if object.m_uni != '' %}
        <h5>Master's University</h5>
        <!-- 'position','github','linkedin','research_area','work_field -->
        <p>
          {{object.m_uni|safe}}
        </p>

        <br>
        {% endif %}

        {% if object.phd_uni != '' %}

        <h5>PhD University</h5>
        <p>
          {{object.phd_uni|safe}}
        </p>
        <br>

        {% endif %}

        {% if object.current_employer != '' %}

        <h5>Current Employer</h5>
        <p>
          {{object.current_employer|safe}}
        </p>
        <br>

        {% endif %}

        {% if object.position != '' %}


        <h5>Position</h5>
        <p>
          {{object.position|safe}}
        </p>
        <br>
        {% endif %}

        {% if object.research_area != '' %}
        <h5>Research Area</h5>
        <p>
          {{object.research_area|safe}}
        </p>
        <br>
        {% endif %}


        {% if object.work_field != '' %}
        <h5>Working Field</h5>
        <p>
          {{object.work_field|safe}}
        </p>
        <br>
        {% endif %}


        <hr>


      </div>
      <!--/container-->


    <!-- Like -->


    <!-- Comment Form -->

    <!-- For Replay comments -->



  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/mbr-testimonials-slider/mbr-testimonials-slider.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>




<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1123285727682531");fbq("set","agent","tmgoogletagmanager","1123285727682531");fbq("track","PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1123285727682531&amp;ev=PageView&amp;noscript=1"></noscript>
<script type="text/javascript" id="">var myDomain="my.mobirise.com",links=document.getElementsByTagName("a");Array.prototype.forEach.call(links,function(a){0<=a.href.indexOf(myDomain)&&(a.search+=(0<a.search.length?"\x26":"")+"mbrui\x3d"+google_tag_manager["GTM-PFK425"].macro(15))});</script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1071863997/?random=1639388295317&amp;cv=9&amp;fst=1639388295317&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=864&amp;u_w=1536&amp;u_ah=816&amp;u_aw=1536&amp;u_cd=24&amp;u_his=2&amp;u_tz=360&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=2&amp;gtm=2wgc10&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fmobirise.com%2Fextensions%2Fpersonam4%2Fportfolio.html&amp;tiba=HTML5%20Bootstrap%20Portfolio%20Template%20-%20PersonaM4&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script>

{% endblock content %}
