{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style="width:1100px; margin:0 auto padding:3" >

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Post</legend>
            {{ form|crispy }}
            {{ form.media }}
            {{ author.first_name }}
            <h6 class="mt-0">Hello World!</h6>
            <h2> {{user}} </h2>
            {% for post in posts %}

                <article class="media content-section" style="width:1100px; margin:0 auto padding:3">
                  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                  <div class="media-body" >
                    <div class="article-metadata" >
                      <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                  <h2><a class="article-title" href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>

                  </div>
                </article>
            {% endfor %}

        </fieldset>



        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
<!-- Medium Editor -->
<script>var editor = new MediumEditor('.editable');</script>

{% endblock content %}
